*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background-color: #E3E9FF;
    font-size: 22px;
}
.title
{
    background-color: #AF7EEB;
    padding: 10px;
    color: aliceblue;
    margin:auto;
    margin-top: 10%;
    width: 445px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
.todo-list{
    width: 430px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    padding: 20px;
    background-color: white;
    color: #8C99BB;
}

.buttons{
    position: relative;
    margin-left: 50%;
    margin-top: -10%;
}
button{
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color:  #AF7EEB;
    color: white;
    font-size: 20px;
}
input{
    padding: 10px;
    width: 92%;
    margin-top: 5%;
    outline: none;
    background: none;
    border: 1px solid #AF7EEB;
    font-size: 20px;
    border-radius: 10px;
    color: #8C99BB;
}
.button-add{
    width: 120px;
    margin-left: 35%;
}


